## Packages

To import the package run

In [ ]:
import numpy as np

if the package is not installed with your distribution, you can run `pip install <package-name>` in the terminal (note that there might be more than one python distribution on your machine).

## Python expressions

Here are some examples:

In [4]:
2+3

5

In [5]:
2*3-12

-6

In [9]:
"Hello World!" + " Glad to see y'all!"

"Hello World! Glad to see y'all!"

## Python statements

Here are some examples of statements:

In [10]:
x = 15

In [12]:
for i in range(10):
    x = x-i
    print(x)

-30
-31
-33
-36
-40
-45
-51
-58
-66
-75

## Comments

You can tell python interpreter which part of code not to run by commening it with symbol `#`. Anything to the right from this symbol is a comment and it will be ignored:

In [13]:
x = 15#+20
print(x)

15

You can create a multiline comment like this

In [16]:
"""
This section is a multiline comment
All of it is ignored by the interpreter
"""
print("Hello world!")

Hello world!

## Data types

1. Numbers: integers and floats 
2. Strings
3. Boolean

In [17]:
type(9)

int

In [18]:
type(.8)

float

In [19]:
type("Hello world!")

str

In [21]:
print(1>0)
type(1>0)

True

bool

You can conver types of data. It is called casting. Here are some examples:

In [22]:
int(2.4)

2

In [23]:
float(2)

2.0

In [24]:
float(1>0)

1.0

In [25]:
str(1>0)

'True'

## Variables

The following code saves the string `Hello world!` into a variable `x` and then retrives variable `x` to print its content on the screen:

In [3]:
x = "Hello World!"
print(x)

Hello World!

Variable names:
1. must start with a letter or `_`; cannot start with a number
2. can only contain alpha-numeric characters and `_`
3. are case-sensitive
4. cannot be the same as reserved keywords in Python (like `for` or `try`)

In [26]:
name = "Blue"
Name = "Monster"
print(name+Name)

BlueMonster

In [27]:
 type(Name)

str

You have to be careful with assigning one variable to the other:

In [104]:
x = 5
y = x
print(y)
x = 6
print(y)

5
5

... so far so good, but what if `x` and `y` are not immutable?

In [106]:
x = [0, 1]
y = x
print(y[0])
x[0] = 2
print(y[0])

0
2

To avoid this, one needs to copy the content of `x` to `y`:

In [109]:
y = x.copy()
print(y)
x[0] = 3
print(y)

[2, 1]
[2, 1]

## Python lists

A collection that can have data of different types

In [36]:
drinks = ["beer", "juice", "tequila", 34, True, "mead"]
print(drinks[0])
print(drinks[-1])
print(drinks[2:4])

beer
mead
['tequila', 34]

you can modify the content of your list

In [37]:
drinks[2] = "kefir"
print(drinks)

['beer', 'juice', 'kefir', 34, True, 'mead']

In [38]:
drinks.append("milk")
print(drinks)
print(drinks[2])
drinks.pop(2)
print(drinks)

['beer', 'juice', 'kefir', 34, True, 'mead', 'milk']
kefir
['beer', 'juice', 34, True, 'mead', 'milk']

you can loop through a list

In [39]:
for i in drinks:
    print(i)

beer
juice
34
True
mead
milk

you can clear the list

In [41]:
drinks.clear()
print(drinks)

[]

## Tuples

They are like lists, but cannot be changed once created

In [42]:
foods = ("burger", "fries", "dhal", "apple")

In [43]:
foods[-1]

'apple'

In [44]:
print(foods[0:3])

('burger', 'fries', 'dhal')

you can join tuples:

In [50]:
spicy_foods = ("dhal", "curry")
all_foods = foods+spicy_foods
print(all_foods)

('burger', 'fries', 'dhal', 'apple', 'dhal', 'curry')

## Dictionaries

Dictionary is an indexed collection of data. The format is like this: `<key>: <value>`

In [52]:


col_descriptions = {
    "year" : "year when event occured",
    "place" : "place in which event occured",
    "description" : "verbal description of the event",
    "parties" : "parties involved in the event",
    "42" : "the answer to ..."
}

col_descriptions["year"]

'year when event occured'

In [53]:
col_descriptions.get("place")

'place in which event occured'

You can remove items from the dictionary or change the values

In [54]:
col_descriptions.pop("42")

'the answer to ...'

looping through keys, through values or through both can be done easily:

In [58]:
for i in col_descriptions:
    print(i)

for j in col_descriptions.values():
    print(j)

for k,l in col_descriptions.items():
    print(k,l)

year
place
description
parties
year when event occured
place in which event occured
verbal description of the event
parties involved in the event
year year when event occured
place place in which event occured
description verbal description of the event
parties parties involved in the event

you can do some complicated structures with nested dictionaries

In [67]:
family = {
    "father" : {
        "age" : 40,
        "name" : "Jack"
    },
    "mother" : {
        "age" : 41,
        "name" : "Jill"
    }
}

family["father"]

{'age': 40, 'name': 'Jack'}

In [69]:
print(family["father"]["age"])

40

16

## Python operators

1. Arithmetic operators (`+, -, *, /, **, %`)
2. Assignment operators (`=, +=, -=, *=, /=, %=`)
3. Comparison operators (`==, >, <, >=, <=, !=`)
4. Logical operators (`and, or, not`)

In [78]:
#use this space to play with these operators

x = True
x **=3
print(x)

1

## Conditional statements

1. `if` statements
2. `elif` statements 
3. `else` statements

In [80]:
a = 12
b = 23

if a>b:
    print("a is strictly larger than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is strictly smaller than b")

a is strictly smaller than b

you can nest these statements...

In [81]:
if a>10:
    print("a is strictly larger than 10")
    if a>20:
        print("a is strictly larger than 20")
    else:
        print("... but less than 20")

a is strictly larger than 10
... but less than 20

A similar construct is this:

In [82]:
lang = "Python"

match lang:
    case "JavaScript":
        print("You can become a web developer.")
    case "Python":
        print("You can become a Data Scientist")
    case "PHP":
        print("You can become a backend developer")
    case "Solidity":
        print("You can become a Blockchain developer")
    case "Java":
        print("You can become a mobile app developer")
    case _:
        print("The language doesn't matter, what matters is solving problems.")

You can become a Data Scientist

## Loops

There are `for` loops and `while` loops. Here is how they work:

In [84]:
for x in range(3, 8, 2):
    print(x)

3
5
7

In [85]:
y = 0
while y<10:
    y += 1
    print(y)

1
2
3
4
5
6
7
8
9
10

you can use `break` and `continue` statements to interrupt and skip

In [95]:
count = 0
while True:
    count += 1
    if count % 2 == 0:
        continue
    if count >= 7:
        break
    print(count)

1
3
5

In [89]:
for x in range(10):
    if x % 2 == 0:
        continue
    if x % 5 == 0:
        break
    print(x)

1
3

## Functions

These are blocks of codes that you use frequently. Here is an example of a function defined:

In [97]:
def my_func(x, y):
    rslt = x+y**2
    return rslt

Now this function can be used:

In [98]:
z = my_func(2, 4)
print(z)

18

You can give default values to function variables:

In [99]:
def my_func2(x, y=2):
    rslt = x*y
    return rslt

In [103]:
z = my_func2(12,)
print(z)
z = my_func2(12,3)
print(z)

24
36